Package: naville.groovecoaster
Name: GrooveCoaster
Version: 0.0.1-2
Architecture: iphoneos-arm
Description: A Private Stuff Released As A Gift For Cheryl!
Maintainer: Naville
Author: Naville
Section: System
Tag: role::hacker

